<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="js/main.js"></script>
<link rel="stylesheet" href="css/chat.css" />
</head>
<body class="signin"  onbeforeunload="logout()">
 <div id="header">
  <div id="inner">
  <ul>
    <li><a class="active" href="index.php">Home</a></li>
    <li><a href="logout.php">Logout</a></li>
  </ul>
 </div>
 <h1 class="welcome">Welcome <?php echo $_SESSION[ "usrname" ]; ?> !</h1>
<div id="section">
  <div id="logmsk" style="display: block;">
   <div id="chatbox">
    <div id="view_ajax"></div>
     <div id="ajaxForm">
      <input type="text" id="chatInput" /><input type="button" value="Send" id="btnSend" />
     </div>
    </div>
  </div>
 </div>
<br>
<div id="footer"> IBM Watson Health </div>
</div>
</div>
</body>
</html>

